
{% load static %}


<div class="footer" id="footer">

    <div class="footer-content">
        <div class="footer-son">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-google"></i>
        </div>

        
        <div class="footer-son">
            <img src="{% static 'image\logo\Logotranspa.png' %}" alt="logo" class="logo-footer">
        </div>

      </div>
      
      <center>
          <p class="down">
              Copyright © 2022 
          <a class="text-reset fw-bold" href="https://www.ticostarica.com">TI Costa Rica.</a>
          Todos los derechos reservados.
              
          </p> 
              
      </center>
    
</div>