
{% load static %}


<div class="footer" id="footer">
    <div class="logoSection">
    <img src="{% static 'images\L3.png' %}" alt="logo" class="logoFooter">
</div>   
    <section class="contact">
        <p>Contacto</p>
        <p>La Fortuna de San Carlos</p><br>
        <p>Volcan Arenal, Costa Rica</p><br>
        <p>Corre: info@asdwasd.com</p><br>
        <p>Telefono: +506 88558866</p><br>
    </section>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.3743441513043!2d-84.64284526235397!3d10.471127115910978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa00c890660e999%3A0x69e3a87bd2572ce6!2sProvincia%20de%20Alajuela%2C%20La%20Fortuna!5e0!3m2!1ses-419!2scr!4v1655763936225!5m2!1ses-419!2scr" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <p class="down">
        Copyright © 2022 
    <a class="copyR" href="https://www.ticostarica.com">InnovaLinkCR</a>
    Todos los derechos reservados.
        
    </p>
</div>

<!---
    <div class="footer-content">
        <div class="footer-son">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-google"></i>
        </div>

    
        
        <div class="footer-son">
     
        </div>

      </div>
     
      <center>
       
              
      </center>
    -->